#!/bin/bash

# Automatically sets up your devbox environment whenever you cd into this
# directory via our direnv integration:

eval "$(devbox generate direnv --print-envrc)"

# Load environment variables and local overrides
dotenv_if_exists .env
dotenv_if_exists .env.local
